header {
  background-color: #fdb024;
  display: block;
  height: 400px;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Source sans Pro', sans-serif;
  color: #ffffff;
}