

@media only screen and (max-width: 768px) {
  body .top-header {
    background-color: #fdb024;
    display: block;
    height: 350px;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
    margin-top: 100px;
    align-content: space-around;
    font-family: 'Source sans Pro', sans-serif;
    font-weight: 300;
    color: #ffffff;
  }

  .top-header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 769px) {
  .top-header {
    background-color: #fdb024;
    position: relative;
    display: inline-block;
    flex-direction: column;
    width: 33%;
    height: 33%;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
    margin-top: 150px;
    margin-left: 50px;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
  }

  .headlogo p {
    margin-top: 10px;
  }

  header > div > img {
    padding-top: 20px;
  }
}



